body{
    background-color: #eae9ea;
}
.main{
    margin: 5%;
}
.tamanhos span{
    color: black;
}
.tamanhos{
    background-color: #fff;
}
.card-title{
    color: black;
}
.dados{
    text-align: center;
    margin: auto;
    width: 50%;
}
.submit{
    width: 50%;
}
.button-submit{
    margin-bottom: 5%;
}
.informacoes{
    background-color: #fff;
}
.container{
    background-color: #fff;
    margin-top: 2%;
}
.texts{
    padding: 2%;
    text-align: center;
    margin: auto;
    width: 80%;
}
.add{
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
    width: 30%;
}